<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceXRockets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DF6EFB527E30830007EC913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF6EFCB27E30832007EC913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF6EFD527E30832007EC913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
